/* Card wrapper like HotelCard */
.booking-card {
  width: 100%;
  border-radius: 16px;
  background: #fff;
  box-shadow: 0 2px 10px rgba(0,0,0,0.15);
  height: 480px;                    /* same height as hotel card */
  display: flex;
  flex-direction: column;
}

/* Image same height as hotelcard */
.booking-card-img {
  width: 100%;
  height: 250px !important;
  object-fit: cover;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

/* Body spacing + layout */
.booking-body {
  /* padding: 22px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 20px!important;
}

/* Description styling */
.booking-desc {
  background-color: aqua;
  color: #6c757d;
  font-size: 0.95rem;
  margin-bottom: 12px;
  min-height: 55px; /* to match card layout */
}

/* Details section */
.booking-details p {
  margin: 5px 0;
  font-size: 0.95rem;
}

span{
  padding-bottom:10px ;
}