/* body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #e2e2e2, #c9d6ff);
} */

/* Overlay background */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(10, 10, 10, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(6px);
  z-index: 2000;
}

.modal-box {
  background: linear-gradient(135deg, #ffffff, #f1f1ff);
  padding: 2rem;
  border-radius: 1rem;
  width: 400px;
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.3);
  position: relative;
  animation: popup 0.3s ease;
}

/* Full-width Navbar */
/* .navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  background: linear-gradient(90deg, #4facfe, #00f2fe);
  color: white;
  position: sticky;
  top: 0;
  z-index: 3000;
} */
