.home-container {
  text-align: center;
  margin-top: 100px;
  color: #333;
}

.home-container h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.home-container p {
  font-size: 1.1rem;
  color: #555;
}
.carousel,
.carousel-item,
.carousel-item img {
  width: 100%;
  height: 100vh; /* full screen height */
  object-fit: cover; /* prevent distortion */
}
text{
  font-size: 3rem;
  font-weight: bold;
  color: #fff;
  text-shadow: #333;
  top: 10px;   
  right: 20px;
  color: white;
  font-size: 20px;
  font-weight: bold;
}