.auth-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  text-align: center;
  position: relative;
}

.auth-container h2 {
  color: #2575fc;
  margin-bottom: 0.5rem;
}

.auth-container input {
  width: 100%;
  padding: 0.7rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 1rem;
}

.submit-btn {
  background: linear-gradient(90deg, #6a11cb, #2575fc);
  color: rgb(241, 238, 238);
  border: none;
  padding: 0.7rem 1.5rem;
  border-radius: 16px;
  cursor: pointer;
  font-weight: 600;
  width: 100%;
}

.submit-btn:hover {
  opacity: 0.9;
}

.forgot-link {
  color: #2575fc;
  cursor: pointer;
  font-size: 0.9rem;
  margin-top: 0.3rem;
  text-decoration: underline;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: -10px;
  color: rgb(17, 12, 12);
  border: none;
  font-size: 1.3rem;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  cursor: pointer;
}

input{
  margin: 10px!important;
}