.navbar {
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  position: fixed !important;
  z-index: 9999;

  background: linear-gradient(90deg, #0078d7, #00b4db);

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 20px;
  box-sizing: border-box;
  font-style: Bold;
  font-size: larger;
  /* STOP buttons from dropping down */
  flex-wrap: nowrap;
  overflow: hidden;
}

/* LEFT AREA */
.nav-left {
  display: flex;
  align-items: center;
  gap: 20px;
  min-width: 0; /* allow shrink */
}

.navbar-title {
  font-size: 1.6rem;
  font-weight: bold;
  white-space: nowrap;
}

.nav-link {
  color: white;
  font-size: larger;
  text-decoration: none;
  white-space: nowrap;
  margin: 10px;
  font-style: Bold;
}

.welcome {
  white-space: nowrap;
  background: rgba(255, 255, 255, 0.25);
  padding: 4px 8px;
  border-radius: 6px;
}

/* CENTER SEARCH */
.nav-center {
  color: #ffffff;
  font-style: Bold;
  flex: 1;
  display: flex;
  justify-content: center;
  min-width: 120px; /* makes it shrink */
}


/* RIGHT AREA */
.nav-right {
  display: flex;
  align-items: center;
  gap: 10px;
  white-space: nowrap;
  min-width: 0;
  margin-right: 10px;
  padding-right: 10px;
}

.nav-btn {
  background: #ffffff;
  color: #0078d7;
  border: none;
  padding: 7px 14px;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  flex-shrink: 1;
}

.nav-btn:hover {
  background: #e4e4e4;
}

.signup {
  background: #00e6ac;
  color: black;
}

.logout {
  background: #ff4d4d;
  color: white;
}

/* NOTIFICATION BUTTON */
.notification-btn {
  background: #fff;
  color: #0078d7;
  border-radius: 50%;
  padding: 5px 8px;
  position: relative;
  flex-shrink: 1;
  font-size: larger;
  margin-right: 20px;
}

/* .notif-count {
  position: absolute;
  top: 6px;
  right: -6px;
  background: red;
  color: white;
  padding: 2px 6px;
  border-radius: 50%;
  font-size: 0.7rem;
} */

/* MOBILE RESPONSIVENESS */
@media (max-width: 850px) {
  .navbar-title {
    font-size: 1.3rem;
  }
  .search-container {
    max-width: 200px;
  }
}

@media (max-width: 650px) {
  .nav-center {
    display: none;
  }
  .nav-btn {
    padding: 6px 12px;
  }
}
