.modal {
  margin-top: 50px !important;

}


.form-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
  margin-left: 0px;
  margin-right: 0px;

}
.form-control{
  display: flex;
  flex-direction: row;
  width:80%!important;
  margin-right: 40px!important;
}

label {
  padding: 5px!important;
  width: 100px;
  margin: 5px!important;
  font-size: 16px;
  font-style: Bold!important;
}
.text-end {
  display: flex;
  flex-direction: row;
  justify-content:right;
  padding: 20px;

}

.my-modal-content {
  border: #f5f7f9 solid 2px;
  padding-right: 20px;
  padding-left: 10px;
  padding-top: 10px;
  background-color: #5f9df5 !important; /* blue background */
  color: rgb(253, 251, 251) !important;
  border-radius: 10px;
}


.form-control {
  background-color: #b6d8fe !important;  
  color: #0d1b2a !important;              
  font-weight: 200;
}


.form-control:focus {
  background-color: #9bc8f9 !important;
  border-color: #8db8f8 !important;
  box-shadow: 0 0 4px rgba(13, 110, 253, 0.6) !important;
}




.modal-header{
  text-align: center ;


}
.modal-title{
  text-align: center;
    margin: auto!important;
    padding-left: 100px;
}