.admin-card{
   padding-top: 50px!important;
}

.hotel-card {
  width: 100%;
  border-radius: 16px;   
  background: #fff;
  box-shadow: 0 2px 10px rgba(0,0,0,0.15);
  height: 480px !important;
  display: flex;
  flex-direction: column;
}

/* Admin card image */
.hotel-card img {
  width: 100%;
  height: 250px !important;        
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}


.hotel-card .card-body {
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
