body {
  width: 100%;
  height: 100vh;
  margin: 0;
  background-image: linear-gradient(#833AB4,#FD1D1D, #FCB045);
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}


.auth-container h2 {
  color: #333;
  margin-bottom: 1rem;
}

.auth-container form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.auth-container input {
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  outline: none;
}

.auth-container button {
  background: linear-gradient(90deg, #6e8efb, #a777e3);
  color: white;
  border: none;
  padding: 0.8rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: 0.3s ease;
}

.auth-container button:hover {
  transform: scale(1.03);
}

.links {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}

.links button {
  background: none;
  color: #6e8efb;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.links button:hover {
  text-decoration: underline;
}
