body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(#833AB4,#FD1D1D, #FCB045);
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

/* make sure body content is pushed below the navbar */
body, #root {
  padding-top: 0px !important; /* match navbar height (70) + buffer */
}

/* add border to see actual navbar bounds while debugging */
.navbar.debug-outline { outline: 3px solid rgba(255,0,0,0.6); }
