.modal-dialog {
  margin: auto !important;     
  transform: none !important;  
  /* left: 0 !important;
  right: 0 !important;
  top: 0px!important; */
  max-width: 720px !important;
}

.modal-content {
  margin-top: 10px!important;
  /* background-color: blue; */
}



/* .modal-content{
  margin-top:30px ;

  object-fit: cover;

} */
.modal-body-custom {
  margin-top: 0px;
  padding: 20px;
  width: 100%;
  max-width: 1000px !important;
  max-height: 1000px;
}

.modal-img {
  /* padding: 20px; */

  height: 220px;
  object-fit: cover;
  border-radius: 17px;
  margin: 10px;
  border: rgb(253, 251, 251) solid 2px;
}


.hotel-title {
  text-align: center;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 24px;
}


.form-box-vertical{

  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
.form-control{
  margin:2px!important;
  padding-left:12px !important;

}

/* Price center */
.price-text {
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
}
label {

  width: 100px;
  /* margin-left: 0px; */


}
.modal-footer{
  margin-top: 0px!important;
  display: flex;  
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  align-items: center;
  padding-bottom: 10px;
  padding-top: 15px;

}
