.modal-dialog {
  margin: auto !important;     
  transform: none !important;  
  left: 0 !important;
  right: 0 !important;
  max-width: 720px !important;
}

.modal-content {
  margin: auto;
}



.modal-content{
  margin-top:30px ;

  object-fit: cover;

}
.modal-body-custom {
  margin-top: 0px;
  padding: 20px;
  width: 100%;
  max-width: 1000px !important;
}

.modal-img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 15px;
  margin-top: 0%;
}


.hotel-title {
  text-align: center;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 24px;
}


.form-box-vertical, Form.Control{

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
  margin-left: 0px;
  margin-right: 0px;
  gap: 10px;


}

/* Price center */
.price-text {
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
}
label {

  padding-top: 5px;
  width: 100px;
  margin-left: 0px;

}
Modal.Footer{
  display: flex;  
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
}
